@page
@model PuppyYoga.Pages.Enrollments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Enrollment.EnrollmentID" />
            <div class="form-group">
                <label asp-for="Enrollment.UserID" class="control-label"></label>
                <select asp-for="Enrollment.UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="Enrollment.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollment.YogaClassID" class="control-label"></label>
                <select asp-for="Enrollment.YogaClassID" class="form-control" asp-items="ViewBag.YogaClassID"></select>
                <span asp-validation-for="Enrollment.YogaClassID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollment.EnrollmentDate" class="control-label"></label>
                <input asp-for="Enrollment.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Enrollment.EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                           <tr>
                                 @{
                                     int cnt = 0;
                                     foreach (var cat in Model.AssignedSessionDataList)
                                     {
                                         if (cnt++ % 3 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        @:<td>
                                             <input type="checkbox"
                                                 name="selectedSessions"
                                                value="@cat.SessionId"
                                                @(Html.Raw(cat.Assigned ?
"checked=\"checked\"" : "")) />
                                            @cat.SessionId @: @cat.SessionName
                                         @:</td>
                                     }
                                 @:</tr>
                                 }
                    </table>
               </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
